* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;

  /* font-family: Arial, sans-serif; */
}
.site-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center; /* Make the header fixed to the top */
  width: 100%; /* Full width */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  /* Adjust the horizontal padding as needed */
  box-sizing: border-box; /* Include padding in the width calculation */
  background-color: transparent; /* Optional: Background color for the header */
  z-index: 1000; /* Ensure the header is above other content */
}

.logo {
  width: 92px;
  height: 57px;
  flex-shrink: 0;
  padding-top: 15px;
  padding-left: 80px;
}

.hamburger-icon {
  cursor: pointer;
  padding-top: 15px;
  padding-right: 73px;
}

/* Overlay style */
.overlay {
  transform: translateX(100%); /* Start off screen */
  width: 50%; /* Or whatever width you desire */
  height: 100%; /* Full height */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1; /* Make sure it's above other content */
  background: #282828; /* Background color */
  transition: transform 0.5s ease; /* Smooth transition for opening/closing */
  /* Other styles... */
}

/* Style for the menu items in the overlay */
.overlay-content {
  padding-top: 200px; /* Space from the top of the overlay to the first menu item */
  padding-left: 0; /* Reset any padding if previously set */
  padding-right: 0; /* Reset any padding if previously set */
  padding-bottom: 0; /* Reset any padding if previously set */
  margin-left: 107px; /* Space from the left edge of the overlay to the text */
  color: #faa22a; /* Yellow text color */
  position: fixed;
  top: 50px; /* Push content down below header */
  width: 100%;
  /* Full width of the overlay */
  /* Add other styles for padding, etc. */
}

.overlay-content a {
  font-family: "Exo 2", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  color: #fff; /* Make sure the color is white */
  text-transform: uppercase;
  padding: 0; /* Reset any padding if previously set */
  /* Remove bottom margin if previously set */
  display: block; /* Each link will be on its own line */
  white-space: nowrap;
  text-decoration: none; /* Prevent text from wrapping */
}

.overlay-content a:hover {
  color: #faa22a;
}

.overlay-content a span.menu-number {
  margin-right: 20px; /* Increase the right margin to create a gap */
  display: inline-block; /* Treat the span as a block-level element inline */
}

/* Style for the line separators */
.overlay-content a:not(:last-child):after {
  content: "";
  display: block;
  margin-top: 10px; /* Space above the line */
  margin-bottom: 50px; /* Space below the line */
  height: 0.5px;
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent white line */
  margin-left: 0px;
  width: 600px; /* Line width extends full width of overlay content */
}

.container {
  display: flex;
  height: 100vh; /* Sets the container's height to fill the entire viewport */
  /* align-items: flex-start; Aligns children at the top */
  justify-content: space-between; /* Maintains the space distribution */
  /* Adds a bit of space at the top if needed */
}

.text-section {
  flex: 1; /* Takes up 1/2 of the space in the container */

  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  /* Centers content vertically */
}

.text-section h1 {
  color: #f4b336;
  width: 626px;
  height: 510px;

  font-family: "Exo 2", sans-serif;
  font-size: 160px;
  font-style: normal;
  font-weight: 600;
  line-height: 170px; /* 106.25% */
  text-transform: uppercase;
}

.text-section h2 {
  color: #f4b336;

  font-family: "Exo 2", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 170px; /* 106.25% */
  text-transform: uppercase;
}

.image-section {
  flex: 1; /* Takes up 1/2 of the space in the container */
  background-color: white;
  display: flex;

  align-items: flex-end; /* Centers image vertically */
  justify-content: center;

  /* Centers image horizontally */
}

.image-section img {
  width: 940px; /* Full width of the section */
  height: 805px; /* Maintain aspect ratio */
  max-height: 100%;
  object-fit: contain; /* Limit height to the container */
}

/* LEADERSHIP SECTION 

.leadership-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f574e;
  height: 100vh;
}

.leadership-section .content-column {
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 80px;

  align-items: flex-start;
  padding-top: 80px; /* Align content to start from the top */
/* Add padding to the top 
}

.leadership-section .content h2 {
  width: 810px;
  margin-top: -160px;
  color: #fff;

  font-family: "Exo 2";
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 80px;
}

.leadership-section .paragraph h3 {
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Exo 2";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.leadership-section .paragraph2 h3 {
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Exo 2";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 60px;
}

.leadership-section .paragraph p {
  width: 566px;
  height: 197px;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  padding-bottom: 20px; /* 165% 
}
.leadership-section .paragraph2 p {
  width: 536px;
  height: 167px;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 165% 
}
.leadership-section .read-more {
  display: block;
  text-decoration-color: #faa22a;
  color: #fff;
  font-family: "Exo 2";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.leadership-section .image-column {
  width: 100%;
  text-align: right;
  padding-right: 60px;
  padding-top: 50px;
}

.leadership-section .image-column img {
  width: 860px;
  height: 888px;
  object-fit: contain;
}
*/
.leadership-section {
  display: flex;
  align-items: stretch; /* Ensures that children stretch to fill the container */
  justify-content: space-between; /* Distributes space, pushing content and image apart */
  background-color: #1f574e; /* Background color */
  height: 100vh;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 80px;
  /* Set the height to fill the viewport */
  /* Optional: Adds some padding around the section */
  /* Includes padding in height calculation */
}

.content-column {
  flex: 1; /* Takes the remaining space after the image column size is set */
  display: flex;
  flex-direction: column;
  max-width: 810px;
  /* padding-right: 20px; */

  /* Adds spacing between the content and image */
  /* Adds scroll to content if it exceeds the container's height */
}

.image-column {
  width: 800px; /* Fixed width as specified */
  height: 800px; /* Fixed height as specified */
  display: flex;
  justify-content: center; /* Center image horizontally within the column */
  align-items: center; /* Center image vertically within the column */

  /* Prevents overflow of the image */
}

.image-column img {
  width: 100%; /* Ensure the image fills the container */
  height: auto; /* Maintain aspect ratio */
  max-height: 100%; /* Ensures the image does not exceed the container's height */
  object-fit: contain; /* Ensures the image is resized properly to fit within the dimensions without being cropped */
}

/* Additional styling for headings and paragraphs */
.leadership-section h2 {
  /* display: inline; */
  width: auto;
  height: 67px;
  color: #fff; /* White text color */
  margin: 0 0 10px 0;
  font-family: "Exo 2";
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 40px; /* Spacing below the headings */
}
.leadership-section h3 {
  color: #fff; /* White text color */
  margin: 0 0 10px 0;
  color: rgba(255, 255, 255, 0.75);

  font-family: "Exo 2";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 40px;
}

.leadership-section p {
  color: #fff; /* White text color */
  line-height: 1.6; /* Adjust line height for better readability */

  width: 630px;
  height: 197px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  padding-bottom: 20px; /* 165%  /* Space below paragraphs */
}

.leadership-section .read-more {
  color: #faa22a; /* Color for 'Read More' links */
  text-decoration: none;
  /* Remove underline from links */
}

.tech-forward-container {
  display: flex;
  height: 100vh;
  background: #1f574e; /* Dark background as seen in the Figma design */
  color: #fff; /* White text for contrast */
}

.tech-forward-content {
  flex: 1;
  padding-left: 80px;
  padding-top: 60px;
  flex-direction: column;
  justify-content: space-between;
}

.tech-forward-title {
  width: auto;
  height: 60px;
  flex-shrink: 0;
  color: #fff;
  font-family: "Exo 2";
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 64px;
}
.tech-forward-title5 {
  width: auto;
  height: 60px;
  flex-shrink: 0;
  color: #fff;
  font-family: "Exo 2";
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.tech-forward-impact h2 {
  width: 253.522px;
  height: 30px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Exo 2";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.tech-forward-grid {
  width: 504px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  text-align: left;
}
.tech-forward-grid5 {
  width: 580px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  text-align: left;
  gap: 60px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 50px;
}

.grid-item strong {
  color: #f4b336;
  font-size: 50px;
  line-height: 1;
  width: 27.958px;
  height: 54px;
  flex-shrink: 0;
  color: #f4b336;

  font-family: "Exo 2";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.grid-item5 strong {
  color: #f4b336;
  font-size: 50px;
  line-height: 1;
  width: 27.958px;
  height: 54px;
  flex-shrink: 0;
  color: #f4b336;

  font-family: "Exo 2";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.grid-item span {
  width: 123.254px;
  height: 22px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.75);

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 70px; /* Capitalization for aesthetic */
}
.grid-item5 span {
  width: 123.254px;
  height: 22px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.75);

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  /* Capitalization for aesthetic */
}

.tech-forward-overview h2 {
  width: 252.52px;
  height: 24px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.75);

  font-family: "Exo 2";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 24px;
  /* Smaller font size for subheadings */
}

.tech-forward-overview5 h2 {
  margin-top: 70px;
  width: 252.52px;
  height: 24px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.75);

  font-family: "Exo 2";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 24px;
  /* Smaller font size for subheadings */
}

.tech-forward-overview p {
  width: 630px;
  height: 164px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.75);

  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 165% */
  margin-bottom: 86px;
}

.tech-forward-overview5 p {
  width: 610px;
  height: auto;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.75);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 165% */
  padding-bottom: 86px;
}

.tech-forward-overview a {
  display: inline-block; /* Inline block for clickable area */
  margin-top: 10px;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.65);

  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize; /* Underline for emphasis */
}

.tech-forward-overview5 a {
  display: inline-block; /* Inline block for clickable area */
  margin-top: 10px;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.75);

  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize; /* Underline for emphasis */
}

.tech-forward-image {
  flex: 0 0 800px; /* Sets the width of the image container exactly to the image width */
  height: 904px; /* Sets the height of the image container exactly to the image height */
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: flex-end; /* Align the image at the bottom */
  overflow: hidden;
  padding-top: 50px;
  padding-right: 60px; /* Prevents any overflow */
}

.tech-forward-image img {
  width: 840px; /* Exact width of the image */
  height: 864px; /* Exact height of the image */
  object-fit: contain; /* Ensures the image fits within the specified dimensions without cropping */
}

/* techforward2 */
.tech-forward-container2 {
  display: flex;
  height: 100vh;
  background-color: white; /* Dark background as seen in the Figma design */
  color: #fff; /* White text for contrast */
}

.tech-forward-content2 {
  flex: 1;
  padding-left: 80px;
  padding-top: 60px;
  flex-direction: column;
  justify-content: space-between;
}

.tech-forward-title2 {
  width: auto;
  height: 60px;
  flex-shrink: 0;
  margin-bottom: 64px;
  color: #282828;

  font-family: "Exo 2";
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 125% */
  text-transform: uppercase;
}

.tech-forward-impact2 h2 {
  width: 253.522px;
  height: 30px;
  margin-bottom: 14px;
  color: rgba(40, 40, 40, 0.75);
  font-family: "Exo 2";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.tech-forward-grid2 {
  width: 504px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  text-align: left;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 50px;
}

.grid-item strong {
  color: #f4b336;
  font-size: 50px;
  line-height: 1;
  width: 27.958px;
  height: 54px;
  flex-shrink: 0;
  color: #f4b336;

  font-family: "Exo 2";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.grid-item span {
  width: 123.254px;
  height: 22px;
  flex-shrink: 0;
  margin-bottom: 70px;
  color: rgba(40, 40, 40, 0.75);

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize; /* Capitalization for aesthetic */
}

.tech-forward-overview2 h2 {
  width: 252.52px;
  height: 24px;
  flex-shrink: 0;
  margin-bottom: 24px;
  color: rgba(40, 40, 40, 0.75);

  font-family: "Exo 2";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.tech-forward-overview2 p {
  width: 630px;
  height: auto;
  margin-bottom: 86px;
  color: rgba(40, 40, 40, 0.75);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 165% */
  text-transform: capitalize;
}

.tech-forward-overview2 a {
  display: inline-block; /* Inline block for clickable area */
  margin-top: 10px;
  text-decoration: underline;
  color: rgba(40, 40, 40, 0.75);
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize; /* Underline for emphasis */
}

.tech-forward-image2 {
  margin-top: 5px;
  flex: 0 0 800px; /* Sets the width of the image container exactly to the image width */
  height: 904px; /* Sets the height of the image container exactly to the image height */
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: flex-end; /* Align the image at the bottom */
  overflow: hidden;
  padding-top: 50px;
  padding-right: 60px; /* Prevents any overflow */
}

.tech-forward-image2 img {
  width: 840px; /* Exact width of the image */
  height: 864px; /* Exact height of the image */
  object-fit: contain; /* Ensures the image fits within the specified dimensions without cropping */
}

.tech-forward-containerlast {
  display: flex;
  justify-content: center; /* Centers the image container horizontally */
  align-items: center; /* Centers the image container vertically */
  height: 140vh; /* Full viewport height */
  padding: 60px; /* Padding around the container */
  box-sizing: border-box; /* Includes padding in the container's dimensions */
  background: white; /* Background color */
}

/*stories from field*/
.tech-forward-image-containerlast {
  width: 1540px;
  padding: 20px; /* Set width of the image container */
  height: auto; /* Height adjusts automatically */
  display: flex;
  justify-content: center; /* Center the image horizontally within the container */
  align-items: center; /* Center the image vertically within the container */
  overflow: hidden; /* Prevents any overflow of the image outside the container */
}

.tech-forward-image-containerlast img {
  max-width: 100%; /* Ensures the image does not exceed the container's width */
  height: auto; /* Maintains the image's aspect ratio */
  object-fit: contain; /* Ensures the image is fully visible within the container without cropping */
}

/* last section */
.section-indivillage-container {
  gap: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
  background: #1f574e;
}

.indivillage-content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.indivillage-text-section {
  flex: 1;

  color: #fff;
}

.indivillage-text-section h1 {
  color: #fff;
  font-family: "Exo 2";
  font-size: 45px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.indivillage-text-section p {
  width: 736px;
  color: rgba(255, 255, 255, 0.75);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 70px;
}

.indivillage-image-section {
  margin-top: -80px;
  width: 739px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indivillage-image-section img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.indivillage-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}

.indivillage-footer-item {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.indivillage-footer-item span {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.indivillage-footer-item img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
