* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
.site-header {
  display: flex;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;

  box-sizing: border-box;
  background-color: transparent;
  z-index: 1000;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 30px;
  padding-left: 80px;
  z-index: 1001; /* Ensure the logo is above the menu icon */
}

.logo {
  width: 80px;
  height: 50px;
  flex-shrink: 0;
}

.hamburger-icon {
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 60px;
  width: 20px;
  z-index: 1001;
}

/* Style for the hamburger icon when the overlay is open */
.hamburger-icon.open svg path {
  fill: #ffffff;
}

/* Overlay style */
.overlay {
  transform: translateX(100%); /* Start off screen */
  width: 50%; /* Adjusted width */
  height: 100%; /* Full height */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1; /* Ensure it's above other content */
  background: #282828; /* Background color */
  transition: transform 0.5s ease; /* Smooth transition for opening/closing */
}

.overlay-content {
  overflow-y: auto; /* Allows scrolling if content is too long */
  position: absolute; /* Changed from fixed to absolute */
  top: 100px; /* Positioning adjusted */
  width: 100%;
  padding: 20px 107px 20px 107px; /* Adjusted for padding */
  box-sizing: border-box; /* Includes padding in width */
  color: #faa22a; /* Yellow text color */
}

.overlay-content a {
  font-family: "Exo 2", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px; /* Space between items */
  text-decoration: none;
}

.overlay-content a:hover {
  color: #f4b336;
}

.overlay-content a span.menu-number {
  margin-right: 20px;
  display: inline-block;
}

/* Redefine the pseudo-element to avoid adding it to the last item */
.overlay-content a:not(:last-child)::after {
  content: "";
  display: block;
  margin: 20px 0; /* Adjusted margin for visual consistency */
  height: 0.5px;
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent white line */
  width: 100%; /* Line stretches full width */
}

/* Style for the line separators */
.overlay-content a:not(:last-child):after {
  content: "";
  display: block;
  margin-top: 25px; /* Space above the line */
  margin-bottom: 25px; /* Space below the line */
  height: 0.5px;
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent white line */
  margin-left: 0px;
  width: 600px; /* Line width extends full width of overlay content */
}

.container {
  display: flex;
  height: 100vh; /* Sets the container's height to fill the entire viewport */
  justify-content: space-between; /* Maintains the space distribution */
}

.text-section {
  flex: 1; /* Takes up 1/2 of the space in the container */

  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  /* Centers content vertically */
}

.text-section h1 {
  color: #f4b336;
  width: 626px;
  height: 510px;

  font-family: "Exo 2", sans-serif;
  font-size: 160px;
  font-style: normal;
  font-weight: 600;
  line-height: 170px; /* 106.25% */
  text-transform: uppercase;
}

.text-section h2 {
  color: #f4b336;

  font-family: "Exo 2", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 170px; /* 106.25% */
  text-transform: uppercase;
}

.image-section {
  flex: 1; /* Takes up 1/2 of the space in the container */
  background-color: white;
  display: flex;
  align-items: flex-end; /* Centers image vertically */
  justify-content: flex-end; /* Aligns image to the right */
}

.image-section img {
  width: auto; /* Full width of the section */
  height: 805px; /* Maintain aspect ratio */

  object-fit: contain;
  margin-left: auto; /* Limit height to the container */
}

/* LEADERSHIP SECTION 

.leadership-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f574e;
  height: 100vh;
}

.leadership-section .content-column {
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 80px;

  align-items: flex-start;
  padding-top: 80px; /* Align content to start from the top */
/* Add padding to the top 
}

.leadership-section .content h2 {
  width: 810px;
  margin-top: -160px;
  color: #fff;

  font-family: "Exo 2";
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 80px;
}

.leadership-section .paragraph h3 {
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Exo 2";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.leadership-section .paragraph2 h3 {
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Exo 2";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 60px;
}

.leadership-section .paragraph p {
  width: 566px;
  height: 197px;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  padding-bottom: 20px; /* 165% 
}
.leadership-section .paragraph2 p {
  width: 536px;
  height: 167px;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 165% 
}
.leadership-section .read-more {
  display: block;
  text-decoration-color: #faa22a;
  color: #fff;
  font-family: "Exo 2";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.leadership-section .image-column {
  width: 100%;
  text-align: right;
  padding-right: 60px;
  padding-top: 50px;
}

.leadership-section .image-column img {
  width: 860px;
  height: 888px;
  object-fit: contain;
}
*/
.leadership-section {
  display: flex;
  align-items: stretch; /* Ensures that children stretch to fill the container */
  justify-content: space-between; /* Distributes space, pushing content and image apart */
  background-color: #1f574e; /* Background color */
  height: 100vh;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 80px;
  /* Set the height to fill the viewport */
  /* Optional: Adds some padding around the section */
  /* Includes padding in height calculation */
}

.content-column {
  flex: 1; /* Takes the remaining space after the image column size is set */
  display: flex;
  flex-direction: column;
  max-width: 810px;
  /* padding-right: 20px; */

  /* Adds spacing between the content and image */
  /* Adds scroll to content if it exceeds the container's height */
}

.image-column {
  width: 800px; /* Fixed width as specified */
  height: 800px; /* Fixed height as specified */
  display: flex;
  justify-content: center; /* Center image horizontally within the column */
  align-items: center;
  /* Center image vertically within the column */

  /* Prevents overflow of the image */
}

.image-column img {
  width: 100%; /* Ensure the image fills the container */
  height: auto; /* Maintain aspect ratio */
  max-height: 100%; /* Ensures the image does not exceed the container's height */
  object-fit: contain;
  padding-left: 20px;
  padding-top: 20px; /* Ensures the image is resized properly to fit within the dimensions without being cropped */
}

/* Additional styling for headings and paragraphs */
.leadership-section h2 {
  /* display: inline; */
  width: auto;
  height: 67px;
  color: #fff; /* White text color */
  margin: 0 0 10px 0;
  font-family: "Exo 2";
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 0px; /* Spacing below the headings */
}
.leadership-section h3 {
  color: #fff; /* White text color */
  margin: 0 0 10px 0;
  color: rgba(255, 255, 255, 0.75);

  font-family: "Exo 2";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 20px;
}

.leadership-section p {
  color: #fff; /* White text color */
  line-height: 1.6; /* Adjust line height for better readability */

  width: 630px;
  height: auto;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  padding-bottom: 40px; /* 165%  /* Space below paragraphs */
}

.leadership-section .paragraph2 p {
  color: #fff; /* White text color */
  line-height: 1.6; /* Adjust line height for better readability */

  width: 630px;
  height: auto;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  padding-bottom: 40px;
  /* 165%  /* Space below paragraphs */
}

.leadership-section .read-more {
  /* Color for 'Read More' links */
  padding-bottom: 40px;
  text-decoration: none;
  display: inline-block; /* Inline block for clickable area */

  text-decoration: underline;
  text-decoration-color: #f4b336;
  text-underline-offset: 5px; /* added some gap on read more*/
  color: rgba(255, 255, 255, 0.65);

  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize; /* Underline for emphasis */
  /* Remove underline from links */
}

/* tech forward */

.tech-forward-container {
  padding: 0 80px;
  display: flex;
  height: 100vh;
  background: #1f574e; /* Dark background as seen in the Figma design */
  color: #fff; /* White text for contrast */
}

.tech-forward-content {
  flex: 1;
  /* padding-left: 80px; */
  padding-top: 90px;
  flex-direction: column;
  justify-content: space-between;
}

.tech-forward-title {
  width: auto;
  height: 60px;
  flex-shrink: 0;
  color: #fff;
  font-family: "Exo 2";
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.tech-forward-impact h2 {
  width: 253.522px;
  height: 30px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Exo 2";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.tech-forward-grid {
  width: 504px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  text-align: left;
}

.tech-forward-grid grid-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 50px;
}

.tech-forward-grid .grid-item strong {
  color: #f4b336;

  font-family: "Exo 2";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.tech-forward-container .tech-forward-grid .grid-item span {
  width: 123.254px;
  height: 22px;
  flex-shrink: 0;
  margin-bottom: 70px;
  color: rgba(255, 255, 255, 0.65);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.tech-forward-overview h2 {
  width: 252.52px;
  height: 24px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.75);

  font-family: "Exo 2";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 24px;
  /* Smaller font size for subheadings */
}

.tech-forward-overview p {
  width: 630px;
  height: 164px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.75);

  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 165% */
  margin-bottom: 86px;
}

.tech-forward-overview p {
  width: 630px;
  height: auto;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.75);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 165% */
  margin-bottom: 66px;
}

.tech-forward-overview a {
  display: inline-block; /* Inline block for clickable area */

  text-decoration: underline;
  text-decoration-color: #f4b336;
  text-underline-offset: 5px;
  color: rgba(255, 255, 255, 0.65);

  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize; /* Underline for emphasis */
}

.tech-forward-image {
  margin-top: 5px;
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Align the image at the bottom */
  overflow: hidden;
  padding-top: 50px;

  box-sizing: border-box; /* Include padding in the width and height calculations */
  height: auto; /* Adjust height dynamically based on content */
  min-height: 904px;
}

.tech-forward-image img {
  width: auto; /* Adjust width automatically based on the intrinsic size of the image */
  height: 95%; /* Height set to 100% of the container */
  object-fit: contain; /* Ensures the image fits within the specified dimensions without cropping */
  align-self: flex-end; /* Ensures the image fits within the specified dimensions without cropping */
}

/* techforward6 */

.tech-forward-container6 {
  display: flex;
  height: 100vh;
  background: #1f574e; /* Dark background as seen in the Figma design */
  color: #fff;
  padding: 0 80px; /* White text for contrast */
}

.tech-forward-content6 {
  flex: 1;

  padding-top: 90px;
  flex-direction: column;
  justify-content: space-between;
}

.tech-forward-title6 {
  width: auto;
  height: auto;
  flex-shrink: 0;
  color: #fff;
  font-family: "Exo 2";
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.tech-forward-impact6 h2 {
  width: 253.522px;
  height: 30px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Exo 2";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.tech-forward-grid6 {
  width: 580px;
  display: grid;
  grid-template-columns: 1fr 2fr; /* Two columns of equal width */
  grid-gap: 0px; /* Space between columns */
  margin-top: 20px; /* Space above the grid */
}

.tech-forward-grid7 {
  width: 580px;
  display: grid;
  grid-template-columns: 1fr 2fr; /* Two columns of equal width */
  grid-gap: 0px; /* Space between columns */
  margin-top: 20px; /* Space above the grid */
}

.grid-item,
.grid-item2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid-item strong,
.grid-item2 strong {
  color: #f4b336; /* Gold color for emphasis */
  font-family: "Exo 2", sans-serif;
  font-size: 24px; /* Adjust size as needed */
  font-weight: 600;
  line-height: 1.3; /* Spacing between lines */
  text-transform: uppercase;
  font-size: 40px;
  padding-bottom: 10px;
}

.tech-forward-grid6 .grid-item span,
.grid-item2 span {
  font-family: "Montserrat", sans-serif;
  font-size: 18px; /* Smaller font size for descriptive text */
  color: rgba(255, 255, 255, 0.75); /* Lighter white for less emphasis */
  margin-top: 4px; /* Space between the number/location and the label */
}

.tech-forward-overview6 h2 {
  width: 252.52px;
  height: 24px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.75);

  font-family: "Exo 2";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 24px;
  /* Smaller font size for subheadings */
}

.tech-forward-overview6 p {
  width: 630px;
  height: 164px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.75);

  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 165% */
  margin-bottom: 86px;
}

.tech-forward-overview6 p {
  width: 630px;
  height: auto;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.75);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 165% */
  margin-bottom: 66px;
}

.tech-forward-overview6 a {
  display: inline-block; /* Inline block for clickable area */
  text-decoration: underline;
  text-decoration-color: #f4b336;
  text-underline-offset: 5px;
  color: rgba(255, 255, 255, 0.65);

  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize; /* Underline for emphasis */
}

.tech-forward-image6 {
  margin-top: 5px;
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Align the image at the bottom */
  overflow: hidden;
  padding-top: 50px;

  box-sizing: border-box; /* Include padding in the width and height calculations */
  height: auto; /* Adjust height dynamically based on content */
  min-height: 904px;
}

.tech-forward-image6 img {
  width: auto; /* Adjust width automatically based on the intrinsic size of the image */
  height: 95%; /* Height set to 100% of the container */
  object-fit: contain; /* Ensures the image fits within the specified dimensions without cropping */
  align-self: flex-end; /* Ensures the image fits within the specified dimensions without cropping */
}

/* techforward2 */
.tech-forward-container2 {
  padding: 0 80px;
  display: flex;
  height: 100vh;
  gap: 20px;
  background-color: white; /* Dark background as seen in the Figma design */
  color: #fff; /* White text for contrast */
}

.tech-forward-content2 {
  flex: 1;

  padding-top: 90px;
  flex-direction: column;
  justify-content: space-between;
}

.tech-forward-title2 {
  width: auto;
  height: 60px;
  flex-shrink: 0;
  margin-bottom: 64px;
  color: #282828;

  font-family: "Exo 2";
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 125% */
  text-transform: uppercase;
}

.tech-forward-impact2 h2 {
  width: 253.522px;
  height: 30px;
  margin-bottom: 14px;
  color: rgba(40, 40, 40, 0.75);
  font-family: "Exo 2";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.tech-forward-grid2 {
  width: 504px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  text-align: left;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 50px;
}

.grid-item strong {
  color: #f4b336;
  font-size: 50px;
  line-height: 1;
  width: 27.958px;
  height: 54px;
  flex-shrink: 0;
  color: #f4b336;

  font-family: "Exo 2";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.grid-item span {
  width: 123.254px;
  height: 22px;
  flex-shrink: 0;
  margin-bottom: 70px;
  color: rgba(40, 40, 40, 0.75);

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize; /* Capitalization for aesthetic */
}

.tech-forward-overview2 h2 {
  width: 252.52px;
  height: 24px;
  flex-shrink: 0;
  margin-bottom: 24px;
  color: rgba(40, 40, 40, 0.75);

  font-family: "Exo 2";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.tech-forward-overview2 p {
  width: 630px;
  height: auto;
  margin-bottom: 86px;
  color: rgba(40, 40, 40, 0.75);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 165% */
}

.tech-forward-overview2 a {
  display: inline-block; /* Inline block for clickable area */

  text-decoration: underline;
  text-decoration-color: #f4b336;
  text-underline-offset: 5px;
  color: rgba(40, 40, 40, 0.75);
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize; /* Underline for emphasis */
}

.tech-forward-image2 {
  margin-top: 5px;
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Align the image at the bottom */
  overflow: hidden;
  padding-top: 50px;

  box-sizing: border-box; /* Include padding in the width and height calculations */
  height: auto; /* Adjust height dynamically based on content */
  min-height: 904px; /* Minimum height to ensure container does not collapse smaller than intended */
}

.tech-forward-image2 img {
  width: auto; /* Adjust width automatically based on the intrinsic size of the image */
  height: 95%; /* Height set to 100% of the container */
  object-fit: contain; /* Ensures the image fits within the specified dimensions without cropping */
  align-self: flex-end; /* Ensure alignment to the bottom of the container */
}

/* techforward-container5
 */

.tech-forward-container5 {
  padding: 0 80px;
  display: flex;
  height: 100vh;
  gap: 20px;
  background-color: white; /* Dark background as seen in the Figma design */
  color: #fff; /* White text for contrast */
}

.tech-forward-content5 {
  flex: 1;

  padding-top: 90px;
  flex-direction: column;
  justify-content: space-between;
}

.tech-forward-title5 {
  width: auto;
  height: 60px;
  flex-shrink: 0;
  margin-bottom: 64px;
  color: #282828;

  font-family: "Exo 2";
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 125% */
  text-transform: uppercase;
}

.tech-forward-impact5 h2 {
  width: 253.522px;
  height: 30px;
  margin-bottom: 14px;
  color: rgba(40, 40, 40, 0.75);
  font-family: "Exo 2";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.tech-forward-grid5 {
  width: 504px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  text-align: left;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 50px;
}

.grid-item strong {
  color: #f4b336;
  font-size: 50px;
  line-height: 1;
  width: 27.958px;
  height: 54px;
  flex-shrink: 0;
  color: #f4b336;

  font-family: "Exo 2";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.grid-item span {
  width: 123.254px;
  height: 22px;
  flex-shrink: 0;
  margin-bottom: 70px;
  color: rgba(40, 40, 40, 0.75);

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize; /* Capitalization for aesthetic */
}

.tech-forward-overview5 h2 {
  width: 252.52px;
  height: 24px;
  flex-shrink: 0;
  margin-bottom: 24px;
  color: rgba(40, 40, 40, 0.75);

  font-family: "Exo 2";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.tech-forward-overview5 p {
  width: 630px;
  height: auto;
  margin-bottom: 66px;
  color: rgba(40, 40, 40, 0.75);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 165% */
}

.tech-forward-overview5 a {
  display: inline-block; /* Inline block for clickable area */

  text-decoration: underline;
  text-decoration-color: #f4b336;
  text-underline-offset: 5px;
  color: rgba(40, 40, 40, 0.75);
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize; /* Underline for emphasis */
}

.tech-forward-image5 {
  margin-top: 5px;
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Align the image at the bottom */
  overflow: hidden;
  padding-top: 50px;

  box-sizing: border-box; /* Include padding in the width and height calculations */
  height: auto; /* Adjust height dynamically based on content */
  min-height: 904px; /* Minimum height to ensure container does not collapse smaller than intended */
}

.tech-forward-image5 img {
  width: auto; /* Adjust width automatically based on the intrinsic size of the image */
  height: 95%; /* Height set to 100% of the container */
  object-fit: contain; /* Ensures the image fits within the specified dimensions without cropping */
  align-self: flex-end; /* Ensure alignment to the bottom of the container */
}

.tech-forward-containerlast {
  display: flex;
  justify-content: center; /* Centers the image container horizontally */
  align-items: center; /* Centers the image container vertically */
  height: auto; /* Full viewport height */
  /* Padding around the container */
  /* Includes padding in the container's dimensions */
  background: white; /* Background color */
}

/*stories from field*/
.tech-forward-image-containerlast {
  width: 98.7%;
  /* Set width of the image container */
  height: auto;
  padding-bottom: 60px; /* Height adjusts automatically */
  display: flex;
  justify-content: center; /* Center the image horizontally within the container */
  align-items: center; /* Center the image vertically within the container */
  overflow: hidden; /* Prevents any overflow of the image outside the container */
}

.tech-forward-image-containerlast img {
  width: 100%; /* Ensures the image does not exceed the container's width */
  height: auto; /* Maintains the image's aspect ratio */
  object-fit: contain;
  /* Ensures the image is fully visible within the container without cropping */
}

/* last section */
.section-indivillage-container {
  gap: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: -20px !important;
  background: #1f574e;
}

.indivillage-content {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.indivillage-text-section {
  flex: 1;
  padding-top: 20px;
  color: #fff;
}

.indivillage-text-section h1 {
  color: #fff;
  font-family: "Exo 2";
  font-size: 45px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.indivillage-text-section p {
  width: 736px;
  color: rgba(255, 255, 255, 0.75);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 40px;
}

.indivillage-image-section {
  width: 735px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-top: 14px;
}

.indivillage-image-section img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 782px;
  object-fit: contain;
}

.indivillage-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}

/* .indivillage-footer-item {
  margin-top: 90px;
  display: flex;
  align-items: center;
  margin-right: 130px;
} */
.indivillage-footer-item a {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #fff;
  text-decoration-thickness: 1px; /* Removes underline from links */
  color: inherit; /* Inherits color from parent for consistent styling */
  display: flex; /* Ensures the layout inside the link remains flex */
  align-items: center; /* Aligns items vertically in the center */
}

.indivillage-text-section h3 {
  width: 720px;
  color: rgba(255, 255, 255, 0.75);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.indivillage-text-section ul li {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #fff;
  text-decoration-thickness: 1px; /* Removes underline from links */
  color: rgba(
    255,
    255,
    255,
    0.75
  ); /* Inherits color from parent for consistent styling */
  display: flex; /* Ensures the layout inside the link remains flex */
  align-items: center;
  font-family: Montserrat;

  font-weight: 400;
  line-height: normal;
}

.indivillage-text-section ul li a {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: rgba(255, 255, 255, 0.75);
  text-decoration-thickness: 0.8px;
  color: inherit;
  font-size: 18px;
}

.indivillage-text-section ul img {
  width: 26px;
  height: auto;
  margin-right: 10px;
}

.indivillage-footer-item span {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.indivillage-footer-item img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.contact-list .separator {
  margin: 10px 0;
  width: 576px; /* Equal space above and below the separator */
}

/* impact-overview */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  grid-template-rows: repeat(4, 1fr); /* Four equal rows */
  grid-gap: 10px; /* Space between grid items */
  /* padding: 0px 80px; Padding, more on the sides */
  box-sizing: border-box; /* Includes padding in width and height calculations */
  height: 100vh; /* Full viewport height */
  width: calc(100vw - 160px); /* Adjust width for padding */
  margin: 0 auto; /* Center the grid horizontally */
}

.impact h1 {
  padding-left: 80px;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #282828;

  font-family: "Exo 2";
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 125% */
  text-transform: uppercase;
}
.yellow-box {
  grid-column: 1 / 2; /* Occupies the first column */
  grid-row: 1 / 3; /* Spans the height of two half-boxes */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */ /* Responsive font size */
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  text-align: center; /* Centers the text within the box */
  padding: 20px; /* Adds padding around the content */
  background-color: #f4b336; /* Example background color, match as needed */
  color: #fff; /* White text color */
  display: flex; /* Use flex to align children vertically */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center items vertically */
  align-items: center;

  /* Inner padding for content */
}
.yellow-box .highlight {
  font-family: "Exo 2";
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.yellow-box .sub-text {
  font-family: "Exo 2"; /* Consistent font family, adjustable per design needs */
  font-size: 20px; /* Smaller font size than the number */
  color: #fff; /* Maintains white color for contrast */
  text-transform: uppercase; /* Keeps text uppercase for consistency */
  margin-top: 10px; /* Adds space above the text to separate it from the number */
}

.half-box {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.half-box div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 40px;
  background: #1f574e;
  color: white;
  margin: 0;
  box-sizing: border-box;
}

.half-box div .highlight {
  font-size: 2vw; /* Bigger font for numbers */
}

.half-box div span.sub-text {
  font-size: 1.2vw; /* Font size for subtext */
}

.half-box img {
  object-fit: cover;
  width: 100%;
  border: none;
  background-color: #1f574e;
}

.full-width-image {
  width: calc(100vw - 160px); /* Match the width of the grid-container */
  height: auto; /* Height is automatic to maintain aspect ratio */
  margin: 10px auto; /* Top and bottom margin 40px, auto for horizontal centering */
  display: block; /* Ensures the image is a block-level element for margin auto */
}

.full-width-image2 {
  padding-left: 10px;
  width: 99%; /* Full width to match the grid-container */
  height: auto; /* Height is automatic to maintain aspect ratio */
  /* Adds space between the grid and the image */
}

.full-width-image3 {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 80px;
  width: 91%; /* Full width to match the grid-container */
  height: auto; /* Height is automatic to maintain aspect ratio */
  /* Adds space between the grid and the image */
}

.number-style {
  padding-top: 20px;
  color: #f4b336;
  font-family: "Exo 2";
  font-size: 62px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  background-color: #1f574e;
}

.text-style {
  margin-top: -10px;
  /* display: inline-block; */
  color: #fff;

  font-family: Montserrat;
  width: 200px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
}
