.body,
html {
  margin: 0;
  padding: 0;
}
.site-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center; /* Make the header fixed to the top */
  width: 100%; /* Full width */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  /* Adjust the horizontal padding as needed */
  box-sizing: border-box; /* Include padding in the width calculation */
  background-color: transparent; /* Optional: Background color for the header */
  z-index: 1000; /* Ensure the header is above other content */
}

.logo {
  width: 80px;
  height: 50px;
  flex-shrink: 0;
  padding-top: 30px;
  padding-left: 80px;
  visibility: hidden;
}

.hamburger-icon {
  cursor: pointer;
  padding-top: 15px;
  padding-right: 73px;
  width: 20px;
}

.hamburger-icon svg path {
  fill: #282828; /* Default color */
}

/* Style for the hamburger icon when the overlay is open */
.hamburger-icon.open svg path {
  fill: #ffffff; /* Change to the desired color */
}

/* Overlay style */
.overlay {
  transform: translateX(100%); /* Start off screen */
  width: 50%; /* Adjusted width */
  height: 100%; /* Full height */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1; /* Ensure it's above other content */
  background: #282828; /* Background color */
  transition: transform 0.5s ease; /* Smooth transition for opening/closing */
}

.overlay-content {
  overflow-y: auto; /* Allows scrolling if content is too long */
  position: absolute; /* Changed from fixed to absolute */
  top: 80px; /* Positioning adjusted */
  width: 100%;
  padding: 20px 107px 20px 107px; /* Adjusted for padding */
  box-sizing: border-box; /* Includes padding in width */
  color: #faa22a; /* Yellow text color */
}

.overlay-content a {
  font-family: "Exo 2", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px; /* Space between items */
  text-decoration: none;
}

.overlay-content a:hover {
  color: #faa22a;
}

.overlay-content a span.menu-number {
  margin-right: 20px;
  display: inline-block;
}

/* Redefine the pseudo-element to avoid adding it to the last item */
.overlay-content a:not(:last-child)::after {
  content: "";
  display: block;
  margin: 20px 0; /* Adjusted margin for visual consistency */
  height: 0.5px;
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent white line */
  width: 100%; /* Line stretches full width */
}

/* Style for the line separators */
.overlay-content a:not(:last-child):after {
  content: "";
  display: block;
  margin-top: 25px; /* Space above the line */
  margin-bottom: 25px; /* Space below the line */
  height: 0.5px;
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent white line */
  margin-left: 0px;
  width: 600px; /* Line width extends full width of overlay content */
}

.section-wrapper {
  box-sizing: border-box;
  width: calc(100vw-160px); /* Full width to contain the image */
  padding-left: 80px;
  padding-right: 80px; /* Set the max-width of the section */
  height: auto;
  /* 80px margin on top and bottom, centered horizontally */
  /* 20px padding on top and bottom, 80px on left and right */
  background-color: #fff; /* Background color for visibility */
}

.section-title {
  text-align: left; /* Align the title to the left */
  margin-bottom: 40px;
  margin-top: 40px;
  color: #1f574e;

  font-family: "Exo 2";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 125% */
  text-transform: uppercase; /* Space below the title */
}

.image-container {
  width: 100%; /* Full width to contain the image */
  display: flex;
  justify-content: center;
  /* Center the image horizontally */
}

.image-container img {
  width: auto; /* Maintain original image width */
  max-width: 100%; /* Ensure it doesn't overflow its container */
  height: auto; /* Maintain aspect ratio */
}

.three-columns {
  display: flex;
  justify-content: space-between;
  margin-left: -20px;
}

.column {
  flex: 1;
  padding: 20px;
}

.column h2 {
  font-size: 24px;
  color: #1f574e;
  margin-bottom: 15px;
}

.column p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.svg-separator {
  width: 100%; /* Adjust width as necessary */
  display: flex;
  justify-content: center; /* Center the SVG horizontally */
  margin: 100px 0; /* 40px space above and below the separator */
}

.testimonial-video-container {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between; /* Space between testimonial and video */
  gap: 20px;
  /* Gap between the two columns */
}

.testimonial,
.video-container {
  flex: 1; /* Each takes half of the space */
}

.testimonial h1 {
  color: rgba(40, 40, 40, 0.65);
  margin-top: 0px;
  font-family: "Exo 2";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.testimonial p {
  width: 510px;
  height: auto;
  color: rgba(40, 40, 40, 0.75);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  /* Italicize the testimonial text */
}

.testimonial-author {
  display: block; /* Block display for correct alignment */
  /* Space above the author's name */
  font-weight: bold; /* Bold for emphasis */
}

.testimonial-sign {
  line-height: 24px;
  width: 480px;
  font-size: 18px;
  height: auto;
  background: #f4b336; /* Yellow background */
  color: white; /* White text color */
  font-family: "Montserrat", sans-serif; /* Font family */
  padding: 10px 20px; /* Padding inside the box */
  margin-top: 20px; /* Space above the sign-off */
  display: inline-block; /* Make the div only as wide as its content */
  border-radius: 10px; /* Rounded corners */
}

.testimonial-sign .name {
  color: #fff;

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.testimonial-sign .name2 {
  color: #fff;

  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.video-container {
  margin-bottom: 120px;
  position: relative;
  width: 768px; /* Adjusted to fit your specific dimensions */
  height: 412px; /* Height as specified */
  border-radius: 10px; /* Rounded corners as requested */
  overflow: hidden; /* Ensures nothing spills out of the border radius */
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 768px; /* Ensures the video covers the entire width of the container */
  height: 412px; /* Covers the height, adjusted to maintain aspect ratio if needed */
  object-fit: cover; /* Ensures the video covers the space without distortion */
}
